@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    /* font size  variable */
    --headline-1-font-size: 64px;
    --headline-2-font-size: 36px;
    /* line height variable */
    --headline-1-line-heigt: 76px;
    --headline-2-line-heigt: 44px;
    /* color variable */
    --color-primary: #4CAF4F;
    --color-secondary:#263238;
    --color-info:


}

* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

.container {
    background-color: #F5F7FA;
    height: 100vw;
    overflow: hidden;
    padding: 15px 20px;

}

.header {
    background-color: transparent;
    height: 65px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-1 {
    list-style: none;
    display: flex;
    gap: 15px;
}

.button-container {
    display: flex;
    gap: 10px;

}

button {
    padding: 10px 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;

}

.hero-design {
    width: 657px;
}
.design{
    color: #4CAF4F;
    margin-top: 20px;
}


.Login {
    background-color: #F5F7FA;
    color: #4CAF4F;
}

.signup {
    background-color: #4CAF4F;
    color: white;
    border: 1px solid;
}

.hero-section {
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: space-between;
    align-items: center;


}

.span{
line-height: 50px;
    
}
.registr {
    background-color: #4CAF4F;
    color: white;
    display: block;
    margin-top: 20px;
    
}

.heading {
    font-family: Inter, sans-serif;
    font-weight: 600;

}

.headline1 {
    font-size: var(--headline-1-font-size);
    line-height: var(--headline-1-line-heigt);
}
.container-2{
    background-color: white;
    width: 100%;
    height: 800px;
}
.client {
    
   justify-content: center;
    
}

.britto {
    display: flex;
    gap: 5px;
    
    span{
        width: 10px;
        height: 10px;
        border-radius: 10px;
        background-color: #4CAF4F;
    }
}


